* {
    box-sizing: border-box;
    /* color: white; */
    font-family: Arial;
    font-size: 1.1em;
}

body {
    display: grid;
    overflow: hidden;
    margin: 0px;

    grid-template-columns: 250px auto;
    grid-template-rows: calc(100vh - 100px) 100px;
    grid-template-areas:  
    "left primary"
    "bottom bottom";
    height: 100vh;
    background-color: black;
    color: white;
}

aside {
    grid-area: left;
}
main {
    grid-area: primary;
    overflow-y: scroll; 
    z-index: 1000;
}

aside, footer, header, nav, #featured-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    border: dotted 1px white;
    padding: 10px; 
}

footer {
    grid-area: bottom;
}

header {
    position: fixed;
    width: calc(100vw - 250px); 
    height: 70px;
    background-color: black;
}

nav {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
}

#featured-content {
    min-height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    align-items: flex-start;
}

@media screen and (max-width: 700px) {
    /* Mobile styles go here */
    body {
        grid-template-columns: auto;
        grid-template-areas:  
        "primary"
        "bottom";
        
        height: 100vh;
        background-color: black;
        color: white;
    }
    aside {
        display: none;
    }
    header {
        width: 100vw; 
        background-color: black;
    }
}